@model UsersViewModel

@section title{ Users }

<section class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-3">
    @foreach (UserPreviewPartialViewModel user in Model.Users)
    {
        @await Html.PartialAsync("_User", user)
    }
</section>

@section Scripts
{
}