@model LoginFormPartialViewModel

<form method="POST" action="@Url.Action("Login", "Users")" class="navbar-nav flex-row gap-1">
    <input type="text" asp-for="@Model.Email"
           class="form-control" placeholder="email address">
    <input type="password" asp-for="@Model.Password"
           class="form-control" placeholder="password">
    <button class="btn btn-outline-success rounded-pill px-5" type="submit">Login</button>
</form>