@model AllEventsViewModel

@section hero{
    <div id="hero-mini" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" class="active"
                    data-bs-target="#hero" data-bs-slide-to="0"></button>
            <button type="button"
                    data-bs-target="#hero" data-bs-slide-to="1"></button>
            <button type="button"
                    data-bs-target="#hero" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div style="background-image: url('/images/bluesky.jpg');"></div>
            </div>
            <div class="carousel-item">
                <div style="background-image: url('/images/brisbane.jpg')"></div>
            </div>
            <div class="carousel-item">
                <div style="background-image: url('/images/birds.jpg'); background-position: bottom;"></div>
            </div>
        </div>
        <button type="button" class="carousel-control-prev"
                data-bs-target="#hero" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button type="button" class="carousel-control-next"
                data-bs-target="#hero" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}

@section title{@Model.Heading}

@section headerButtons{
    @if (Model.IsAuthenticated && Model.IsAdmin)
    {
        <div class="col-6 col-md-auto my-auto">
            <a href="@Url.Action("Edit", "Events")" class="btn btn-outline-primary rounded-pill px-4">Create Event</a>
        </div>
    }
    <div class="col-6 col-md-auto my-auto">
        @await Html.PartialAsync("_Search", Model.SearchPartialViewModel)
    </div>
}

@await Html.PartialAsync("_Events", Model.Events)